<p>Total Matches: <%=@count%></p>
<p>Total Wins: <%=@wins%></p>
<p>Total Losses: <%=@losses%></p>
<p>Win Rate: <%=@win_percent%>%</p>

<ul>
  <% @matches.each do |m| %>
    <li>
      <%=m.win%> Date: <%= get_date(m.start_time)%>
        <ul>
          <%m.champions.each do |c|%>
            <li><%=c.name %></li>
          <%end%>
        </ul>
    </li>
  <% end %>
</ul>
